OK so in this notebook I was about to tackle some tougher dataset. 

To be honest,  just plain KNN did a pretty good job of clustering the data right off the bat, it really wasn't all that difficult. 
So I picked another dataset from the UC Irvine data repository that was an employee churn dataset.

Since there were many categorical variables, I decided to format it so that I could feed it into a mathematical function.
First order of business was to load the libraries:

In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

#Nescessary to display all columns for some reason
from IPython.core.display import HTML

https://towardsdatascience.com/categorical-encoding-using-label-encoding-and-one-hot-encoder-911ef77fb5bd

https://towardsdatascience.com/guide-to-encoding-categorical-features-using-scikit-learn-for-machine-learning-5048997a5c79

Then I loaded the data:

In [3]:
pd.set_option('display.max_colwidth', None)

csv = pd.read_csv("e_attr1.csv")
data = csv.copy()

To get an idea of what the data contained, I decided to take a look at it:

In [4]:
display(HTML(csv.head().to_html()))

In [6]:
categories=['BusinessTravel','MaritalStatus','JobRole','Gender','EducationField','Department','OverTime']

for i in categories:
    print(i)
    print(csv[i].value_counts())
    print("-----------------")

BusinessTravel
Travel_Rarely        1043
Travel_Frequently     277
Non-Travel            150
Name: BusinessTravel, dtype: int64
-----------------
MaritalStatus
Married     673
Single      470
Divorced    327
Name: MaritalStatus, dtype: int64
-----------------
JobRole
Sales Executive              326
Research Scientist           292
Laboratory Technician        259
Manufacturing Director       145
Healthcare Representative    131
Manager                      102
Sales Representative          83
Research Director             80
Human Resources               52
Name: JobRole, dtype: int64
-----------------
Gender
Male      882
Female    588
Name: Gender, dtype: int64
-----------------
EducationField
Life Sciences       606
Medical             464
Marketing           159
Technical Degree    132
Other                82
Human Resources      27
Name: EducationField, dtype: int64
-----------------
Department
Research & Development    961
Sales                     446
Human Resources            63
Name: Department, dtype: int64
-----------------
OverTime
No     1054
Yes     416
Name: OverTime, dtype: int64
-----------------

I decided not to split the "Business travel" category as there was an obvious numerical mapping. Instead, I just mapped the to sensible integers:

In [7]:
data['BusinessTravel'] = data['BusinessTravel'].map({'Non-Travel':0,
                           'Travel_Rarely':1,
                           'Travel_Frequently':2}
                          )

One hot encoding is splitting each type of a category . 

The rest I decided to one-hot encode else the prior scheme would have implied a hierarchy that wasn't there.
(a man is not superior to a woman or vice versa).
The dataset also wasn't very big and was unlikely to cause memory issues.

In [8]:
def OneHot(columns_names,data):
    for name in columns_names:
        ohe = OneHotEncoder(sparse = False)
        encoded_df =  pd.DataFrame(ohe.fit_transform(data[[name]])).copy()
        encoded_df.columns = ohe.categories_
        
        #axis =1 ----> refers to column 
        data = data.drop([name],axis=1)
        data = pd.concat([encoded_df,data],axis=1)

    return data


column_names = ["Department","EducationField","JobRole", "Gender","MaritalStatus"]
        
data = OneHot(column_names,data)

display(HTML(data.head().to_html()))

I can do the same as I did above with the 'BusinessTravel' category.

In [9]:
def Label(column_names,data):
    for name in column_names:
        lab = LabelEncoder() #https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html
        encoded_df =  pd.DataFrame(lab.fit_transform(data[[name]])).copy()
        encoded_df.columns = [name]
        data[name] = encoded_df
        
        #axis =1 ----> refers to column 
    return data

column_names = ["OverTime"]
data = Label(column_names,data)

display(HTML(data.head().to_html()))

/home/flackjacket/miniconda3/envs/machine-learning-env/lib/python3.9/site-packages/sklearn/preprocessing/_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [10]:
lab = LabelEncoder()
encoded_last_column =  pd.DataFrame(lab.fit_transform(data[['Attrition']])).copy()
encoded_last_column.columns = ['Attrition']

data['Attrition'] = encoded_last_column

/home/flackjacket/miniconda3/envs/machine-learning-env/lib/python3.9/site-packages/sklearn/preprocessing/_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [11]:
display(HTML(data.head().to_html()))

In [12]:
data.to_csv('encoded_data.csv',index=False)